<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
<div id="table_container">
    ${table}
</div>
</body>
<script>
    let elements = document.querySelectorAll('html body div#table_container table tbody tr td table tbody tr td');
    elements.forEach(function (e) {
        if (e.textContent === 'True') {
            e.parentNode.parentNode.parentNode.parentNode.style.backgroundColor = 'blue';
            e.parentNode.parentNode.parentNode.style.backgroundColor = 'white'
        }
    })
</script>
</html>